{
  "env": {
    "browser": true,
    "es2020": true,
    "commonjs": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["prettier", "unused-imports"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "_*" }],
    "@typescript-eslint/no-use-before-define": "error",
    "array-bracket-newline": ["error", { "multiline": true }],
    "array-bracket-spacing": ["error", "never"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "camelcase": "error",
    "capitalized-comments": ["error", "never", { "ignorePattern": "TODO|BUG" }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "comma-style": ["error", "last"],
    "complexity": ["warn", 10],
    "computed-property-spacing": ["error", "never"],
    "curly": ["error", "multi", "consistent"],
    "default-case": "error",
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "smart"],
    "func-call-spacing": ["error", "never"],
    "init-declarations": ["error", "always"],
    "max-len": ["warn", { "code": 160 }],
    "multiline-comment-style": ["error", "starred-block"],
    "no-alert": "error",
    "no-console": ["error", { "allow": ["error", "info", "trace", "warn"] }],
    "no-const-assign": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-duplicate-imports": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-empty": ["error", { "allowEmptyCatch": false }],
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-inline-comments": "warn",
    "no-inner-declarations": "off",
    "no-irregular-whitespace": ["error"],
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-sequences": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-use-before-define": "error",
    "no-useless-computed-key": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "no-whitespace-before-property": "error",
    "object-shorthand": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "import", "next": "*" },
      { "blankLine": "never", "prev": "*", "next": "import" },
      { "blankLine": "never", "prev": "import", "next": "import" },
      { "blankLine": "always", "prev": "*", "next": "export" },
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "block" },
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "function" },
      { "blankLine": "always", "prev": "function", "next": "*" },
      { "blankLine": "never", "prev": "*", "next": "case" },
      { "blankLine": "never", "prev": "*", "next": "default" },
      { "blankLine": "always", "prev": "*", "next": "multiline-block-like" },
      { "blankLine": "always", "prev": "*", "next": "multiline-expression" },
      { "blankLine": "always", "prev": "*", "next": "multiline-const" }
    ],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "prefer-template": "error",
    "prettier/prettier": "error",
    "rest-spread-spacing": ["error", "never"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi-style": ["error", "last"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false
      }
    ],
    "spaced-comment": ["error", "always"],
    "switch-colon-spacing": ["error", { "after": true, "before": false }],
    "unused-imports/no-unused-imports": "error"
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": { "@typescript-eslint/no-var-requires": "off", "no-unused-expressions": "off" }
    }
  ]
}
